<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="https://apis.google.com/js/client:platform.js" async defer></script>
</head>
<body>
<script>
    function signinCallback(authResult) {
        if (authResult['status']['signed_in']) {
            // Update the app to reflect a signed in user
            // Hide the sign-in button now that the user is authorized, for example:
            document.getElementById('signinButton').setAttribute('style', 'display: none');
            document.getElementById('glogout').innerHTML ='<span onclick="gapi.auth.signOut();">Sign out from Google+</span>';
        } else {
            // Update the app to reflect a signed out user
            // Possible error values:
            //   "user_signed_out" - User is signed-out
            //   "access_denied" - User denied access to your app
            //   "immediate_failed" - Could not automatically log in the user
            console.log('Sign-in state: ' + authResult['error']);
        }
    }
</script>
<span id="signinButton">
  <span
          class="g-signin"
          data-callback="signinCallback"
          data-clientid="81808454760-vnooape3mvu8jmh1s6es7dr0gtms7347.apps.googleusercontent.com"
          data-cookiepolicy="single_host_origin"
          data-scope="email profile https://www.googleapis.com/auth/paymentssandbox.make_payments">
  </span>
</span>
<div id="glogout"></div>
</body>
</html>