/log
*.error

.DS_Store

/bower_components
/node_modules

#sublime
*sublime*

cluster_pidfile

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Windows thumbnail db
Thumbs.db

# Maven
log/
target/

# Gradle
.gradle
build/

apiServer/scripts/DB-Var
